<h2>{{SectionTitle}}</h2>
<table>
  {{#each entries}}
    {{#if resumeDisplay}}
      <tr>
        <td style="padding: 20px 25px 20px 25px;">
          <div class="avoid">
            <b>{{{Organization}}}</b><br>
            {{Location}}<br>
            <i>{{Duration}}</i>
          </div>
        </td>
        <td>
          <div class="avoid">
            <b>{{PositionTitle}}</b>
            <hr>
            <ul>
            {{#each Description}}
              <li>
                {{{this}}}
              </li>
            {{/each}}

          </ul></div>
        </td>
      </tr>
    {{/if}}
  {{/each}}
</table>
