<h2>{{SectionTitle}}</h2>
<table>
  {{#each entries}}
    <tr>
      <td style="text-align: left;">
        {{{Authors}}}
        <a href="{{URL}}" target="_blank">{{Title}}.</a>
        <b><i>{{Publication}}</i></b> {{Location}}
      </td>
    </tr>
  {{/each}}
</table>
