<h2>{{SectionTitle}}</h2>
<table>
  {{#each entries}}
    {{#if resumeDisplay}}
      <tr>
        <td style="padding: 20px 15px 20px 15px; line-height: 140%; font-size: 12px;">
          <div class="avoid">
            <b>{{{Organization}}}</b><br>
            {{Location}}<br>
            <i>{{Duration}}</i>
          </div>
        </td>
        <td style="padding: 15px 10px 15px 10px;">
          <div class="avoid">
            <b>{{PositionTitle}}</b>
            <hr style="margin: 5px;">
            <ul style="padding-left: 25px;">
            {{#each Description}}
              <li>
                {{{this}}}
              </li>
            {{/each}}

          </ul></div>
        </td>
      </tr>
    {{/if}}
  {{/each}}
</table>
